<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Sama security Portal</a>
    <ul>
      <li><a href="/shops">Shops</a></li>
      <li><a href="/shops/new">New Shop</a></li>
    </ul>
  </nav>
</header>